<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>551459172102-pt3sct7dpdfdqqn955rqond5i4jhmtgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551459172102-pt3sct7dpdfdqqn955rqond5i4jhmtgt</string>
	<key>API_KEY</key>
	<string>AIzaSyCzNBPrcUWtcDvTMuxYZbBUJCz0Fyb2Hbs</string>
	<key>GCM_SENDER_ID</key>
	<string>551459172102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ksoftpl.Medoc-Patient</string>
	<key>PROJECT_ID</key>
	<string>patient-43cf5</string>
	<key>STORAGE_BUCKET</key>
	<string>patient-43cf5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551459172102:ios:6c4d436035e4b87f</string>
	<key>DATABASE_URL</key>
	<string>https://patient-43cf5.firebaseio.com</string>
</dict>
</plist>